* {
    margin: 0;
    padding: 0;
}

#chat {
    position: fixed;
    bottom: 0px;
    right: 3vw;
    background-color: black;
    padding: 5px;
}

#messages {
    height: 300px;
    width: 350px;
    overflow-y: scroll;
    background-color: white;

}

#tools {
    padding: 5px;
}

input {
    border: none;
    background-color: white;
}

#pseudo {
    font-size: 0.8em;
    width: 100px;
}

#text {
    width: 250px;;
}

button {
    padding: 4px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    color: orange;
    background-color: black;
}

#message p {
    padding: 5px;
    font-size: 0.8;
}

.pseudo {
    font-size: 0.8em;
    font-weight: bold;
}

.pseudo::after {
    content: " : ";
}